<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYXVbKTVOcGiKuFXMDOY6dphG-3Y65eYg</string>
	<key>GCM_SENDER_ID</key>
	<string>461798699353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.Finaltask</string>
	<key>PROJECT_ID</key>
	<string>finaltask-4cefc</string>
	<key>STORAGE_BUCKET</key>
	<string>finaltask-4cefc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461798699353:ios:a907f6769ffd53cc71dc48</string>
</dict>
</plist>